<!doctype html>

<html>
	<head>
		<title>TMF offline apps</title>
		<link rel="stylesheet" href="{{ g.main_stylesheet }}" type="text/css" />

		{% block head %}
		{% endblock %}
		<script>
			/*
			* ========== TMF ==========
			 - Lag JS for å detektere om vi er Online eller Offline
			 - Lag JS for å cache/mellomlagre data'ene i dette skjemaet
			 - Hvis vi er online:
				- forsøk å poste/synke det som er cachet
			 - Hvis vi er offline:
				- forsøk å cache / mellomlagre
			*/
		</script>
	</head>

	<body>
		{% block body %}{% endblock %}
	</body>
</html>
