
{% extends "index.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div id=myform>
	<form id=payment action="/add/14" method="post">
		<fieldset>
			<legend>Personalia</legend>
			<ol>
				<li>
				<label for=name>Navn</label>
				<input id=name name=name type=text placeholder="Personens fulle navn" required autofocus>
				</li>
				<li>
				<label for=email>Email</label>
				<input id=email name=email type=email placeholder="example@domain.com" required>
				</li>
				<li>
				<label for=phone>Telefon</label>
				<input id=phone name=phone type=tel placeholder="Eg. +4799887766" required>
				</li>
			</ol>
		</fieldset>
		<fieldset>
			<legend>Leveringsadresse</legend>
			<ol>
				<li>
				<label for=address>Adresse</label>
				<textarea id=address name=address rows=5 required></textarea>
				</li>
				<li>
				<label for=postcode>Postkode</label>
				<input id=postcode name=postcode type=text required>
				</li>
				<li>
				<label for=country>Land</label>
				<input id=country name=country type=text required>
				</li>
			</ol>
		</fieldset>
		<fieldset>
			<legend>Betalings informasjon</legend>
			<ol>		
				<li>
				<fieldset>
					<legend>Korttype</legend>
					<ol>
						<li>
						<input id=visa name=cardtype type=radio>
						<label for=visa>VISA</label>
						</li>
						<li>
						<input id=amex name=cardtype type=radio>
						<label for=amex>AmEx</label>
						</li>
						<li>
						<input id=mastercard name=cardtype type=radio>
						<label for=mastercard>Mastercard</label>
						</li>
					</ol>
				</fieldset>
				</li>
				<li>
				<label for=cardnumber>Kort nummer</label>
				<input id=cardnumber name=cardnumber type=number required>
				</li>
				<li>
				<label for=secure>CV2 kode</label>
				<input id=secure name=secure type=number required>
				</li>
				<li>
				<label for=namecard>Navn på kortet (eiers navn)</label>
				<input id=namecard name=namecard type=text placeholder="Eiers navn som skrevet på kortet" required>
				</li>
			</ol>
		</fieldset>

		<fieldset>
			<button type=submit>Kjøp meg!</button>
		</fieldset>
	</form>
</div>

<div id=commands>
	<a href="/show">List all entries!</a>
</div>
{% endblock %}
