{% extends "index.html" %}

{% block head %}
<script>
	/*
	* ========== TMF ==========
	- Lag JS for å detektere om vi er Online eller Offline
	- Lag JS for å cache/mellomlagre data'ene i dette skjemaet
	- Hvis vi er online:
	- forsøk å poste/synke det som er cachet
	- Hvis vi er offline:
	- forsøk å cache / mellomlagre
	*/
</script>
<style>
pre { color: red; }
</style>
{% endblock %}

{% block body %}
Testing testing!
<div id=entries>

	{% if not entries %}
	<pre>
	No entries to display!
	</pre>
	{% else %}
	<table id=entrytbl>
		<tr id=row>
			<th>Navn</th>
			<th>E-mail</th>
			<th>Tlf</th>
			<th>Adresse</th>
			<th>Postkode</th>
			<th>Land</th>
			<th>Korttype</th>
			<th>Kortnr</th>
			<th>CV2</th>
			<th>Korteier</th>
			<th>API Key</th>
		</tr>
		{% for entry in entries %}
		<tr>
			<td>{{ entry.navn }}</td>
			<td>{{ entry.email }}</td>
			<td>{{ entry.telefon }}</td>
			<td>{{ entry.adresse }}</td>
			<td>{{ entry.postkode }}</td>
			<td>{{ entry.land }}</td>
			<td>{{ entry.korttype }}</td>
			<td>{{ entry.kortnr }}</td>
			<td>{{ entry.cv2 }}</td>
			<td>{{ entry.kortnavn }}</td>
			<td>{{ entry.apikey }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif%}

</div>
{% endblock %}
